.salute {
    padding: 1rem;
    margin: 2rem 0 2rem 0;
}
.content {
    padding: 1rem;
}

.map {
    width: 100vw;
    height: 300px;
    border: none;
    margin: 1rem 0 1rem 0;
}

.center {
    display: flex;
    justify-content: center;
}