/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/home.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mb1 {
  margin-bottom: 1rem !important;
}

.mb2 {
  margin-bottom: 2rem !important;
}

main {
  font-size: 1rem;
  font-weight: 400;
}

.salute {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Upright", serif;
  margin: 3rem 0 2rem;
  font-weight: 600;
  font-size: 2.25rem;
}

.content {
  padding: 0 1rem;
}
.content > p {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
.content > p.dialogue {
  padding-left: 1rem;
}

.anchor:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 1rem;
  margin-top: -1rem;
}

ul {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-left: 1rem;
}
ul li {
  margin-bottom: 0.5rem;
}

ol {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: devanagari;
  padding-left: 1.25rem;
}
ol li {
  margin-bottom: 0.5rem;
}

h2, h3, h4 {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.image-block {
  position: relative;
  height: 50vw;
  max-width: 700px;
  max-height: 393px;
  margin-left: auto;
  margin-right: auto;
}
.image-block img {
  object-fit: contain;
}
.image-block.kokosis-pic {
  height: 60vw;
  min-height: 280px;
}

.map-block {
  display: flex;
  justify-content: center;
}
.map-block .map {
  width: 100%;
  height: 50vw;
  max-width: 700px;
  max-height: 500px;
  border: none;
}

#schedule h2 {
  padding: 0 1rem;
}

.schedule {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.25rem;
  gap: 0.25rem;
}
.schedule p {
  margin-bottom: 0.5rem;
}
.schedule .time {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: rgb(255, 234, 253);
}
.schedule .time .day-name,
.schedule .time .day-number {
  font-size: 1.1rem;
}
.schedule h3 {
  font-size: 1.1rem;
  font-weight: 500;
}
.schedule .hour {
  margin-right: 0.25rem;
}
.schedule .event {
  background-color: rgb(222, 255, 242);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
