/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/home.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
main {
  font-size: 1rem;
  font-weight: 400;
}

.salute {
  font-family: "Cormorant Upright", serif;
  margin: 2rem 0 2rem 0;
  font-weight: 600;
  font-size: 3rem;
}

.content {
  padding: 1rem;
}

.image-block {
  position: relative;
  height: 50vw;
}
.image-block img {
  object-fit: contain;
}

.map-block {
  padding: 1rem;
}
.map-block .map {
  width: 100vw;
  height: 75vw;
  max-width: 1000px;
  max-height: 500px;
  border: none;
  margin: 1rem auto 1rem auto;
}

.center {
  display: flex;
  justify-content: center;
}

.message {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
